1. Write a Python function to multiply all the numbers in a list.

In [14]:
import functools
n=[1,2,3,4,5]
print(functools.reduce(lambda x,y:x*y,n))

120

2. Write a Python function to reverse a string
  
  i) use for loop
  
  ii) use while loop

In [119]:
#use for loop
a="Guvi"
n=len(a)
for i in range(n-1,-1,-1):
  print(a[i])

In [37]:
#use While loop
while(n>0):
  n=n-1
  print(a[n])

i
v
u
G

3. Write a function to add and subtract two variables

In [40]:
def add(a,b):
  return a+b, a-b
add(5,4)

(9, 1)

4. Write a function to check the number is divisible by 12

In [42]:
n=int(input())
if(n%12==0):
  print("%d is divisible by 12" %(n))
else:
  print("%d is not divisible by 12" %(n))

52
52 is not divisible by 12

5. Write a function to calculate the number of days and weeks

In [47]:
def week_days(d):
  weeks= d //7
  days = d%7
  return "%d is equivalent to %d and %d " %(d,weeks,days)
week_days(d = int(input()))

25

'25 is equivalent to 3 and 4 '

6.Write a Python function to Find the 5!?

In [50]:
f = 1
for i in range(1,5+1):
  f*=i
print(f)

120

7. Write a Python function to find the unique elements of the list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]

In [52]:
l= [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]
a=set(l)
print(list(a))

[1, 2, 3, 4, 5, 34, 7, 6, 654]

Types of arguments
​
​
   1. Required arguments
   2. Keyword arguments
   3. Default arguments

1. Required arguments:
Write a program to calculate Simple Interest which accepts three arguments and returns the simple interest accordingly

In [53]:
def simple_intrest(p,n,r):
  return (p*n*r)/100
simple_intrest(1234,2,4)

98.72

2. Keyword arguments:
Write a function which will be called with the name and message as the keyword arguments. Output will be "printing the message with 'name' and  'message'"

In [57]:
def message(name,msg):
  return "Welcome "+name+", "+msg
message(name= "Mowli",msg="How are you?")

'Welcome Mowli How are you?'

3. Default Arguments:
Write a function which will be called with the name as keyword argument and age as the default arguments. Output will be "My name is 'name' and 'age is 27'"

In [60]:
def msge(name,age='21'):
  return "My name is "+name+" age is "+ age
msge("Mowli")

'My name is Mowli age is 21'

# **lambda function**


1. Get a number from user,  find if it is even or odd number?

In [74]:
b = lambda x: "even" if x%2==0 else "Odd"
print(b(int(input())))

24
even

2. Take a input from user and  square it

In [75]:
n1 = lambda x: x**2
print(n1(int(input())))

4
16


3. Write a lambda function using logical operators?

  Hint:

  Check x < 10

  Output: False / True

In [76]:
n2=lambda x:x<10
print(n2(int(input())))

2
True

4. Take an integer input from the user,  add 5 to the number and print it back?

In [77]:
n3=lambda x:x+5
print(n3(int(input())))

10
15

Map
1. Add two lists using map ()
    
    lis1 = [12, 24, 36]
    
    lis2 = [41, 54, 69]
   
    Output:
    [53, 78, 105]

In [79]:
lis1 = [12, 24, 36]
lis2 = [41, 54, 69]
ans = list(map(lambda x,y : x+y, lis1,lis2))
ans

[53, 78, 105]

2. Use Lambda and map functions on a List, to square each element in the list = [1, 2, 3, 4, 5, 6, 7]

In [80]:
lis = [1, 2, 3, 4, 5, 6, 7]
ans = list(map(lambda x: x**2,lis))
print(ans)

[1, 4, 9, 16, 25, 36, 49]

3. In the given list [1, 2, 3, 4, 5, 6, 7], find the even and odd elements in the list, use the map()function

In [82]:
lis = [1, 2, 3, 4, 5, 6, 7]
ans = list(map(lambda x: "even" if x%2==0 else "odd",lis))
ans

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

4. In the given list [11, 12, 13, 14, 435, 6, 27], perform the Floor division using 7 on each elements on the list

In [83]:
l = [11, 12, 13, 14, 435, 6, 27]
ans = list(map(lambda x: x//7,l))
ans

[1, 1, 1, 2, 62, 0, 3]

Filter
1. Using the given list lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543] filter the numbers in list which are not divisible by 2

In [87]:
lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543]
ans = filter(lambda x: x%2!=0,lis1)
list(ans)

[3, 43, 455, 43, 543]

2. For a given list1 = [1, 2, 3, 4, 5, 6] filter only the even numbers (Use filter).

In [88]:
t1 = [1, 2, 3, 4, 5, 6]
ans = list(filter(lambda x: x%2==0,t1))
ans

[2, 4, 6]

3. For a given list = [2,3,5,3,6,3,7,4,6,7] filter only the even numbers using user defined function.

In [112]:
def filter_odd_numbers(list):
  odd_numbers = []
  for element in list:
    if element % 2 == 0:
      odd_numbers.append(element)
  return odd_numbers
list = [2,3,5,3,6,3,7,4,6,7]
print(filter_odd_numbers(list))

[2, 6, 4, 6]

 4. For a given list = [1, 12, 31, 4, 15, 6, 7] filter only the odd numbers using user defined function.

In [111]:
def filter_odd_numbers(list):
  odd_numbers = []
  for element in list:
    if element % 2 != 0:
      odd_numbers.append(element)
  return odd_numbers
list = [2,3,5,3,6,3,7,4,6,7]
print(filter_odd_numbers(list))

[3, 5, 3, 3, 7, 7]

**Reduce**
1. For list = [1, 2, 3, 4] multiply all the elements (use reduce function)

In [113]:
import functools
l=[1,2,3,4]
print(functools.reduce(lambda x,y: x*y,l))

24

2. For list = [ 11 , 13, 15, 16, 2,43 ]  sum all the elements (use reduce function)

In [114]:
l=[11,13,15,16,2,43]
print(functools.reduce(lambda x,y: x+y,l))

100

3. Find the maximum value in the list = [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [117]:
l = [543,7,6,4567,7,78,6,6,78,765,678]
print(functools.reduce(max,l))

4567

4. Find the minimum value in the list= [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [118]:
l = [543,7,6,4567,7,78,6,6,78,765,678]
print(functools.reduce(min,l))

6