In [1]:
# # Python List:
# 1. Create your own lists otherwise use the List1 = ['hello','GUVI','GEEK']  to perform the below Python list  Operations?
#    A. Repetition (*)
#    B. Concatenation (+)
#    C. Membership
#    D. Length
#    E. Iteration

In [2]:
#1.A. Repetition:
l1 = ['hello','GUVI','GEEK']
print(l1*2)

['hello', 'GUVI', 'GEEK', 'hello', 'GUVI', 'GEEK']

In [3]:
#2.Concatenation
print(l1+l1)

['hello', 'GUVI', 'GEEK', 'hello', 'GUVI', 'GEEK']

In [4]:
#3.Membership
a='h'
print(a in l1)

False

In [5]:
#length
print(len(l1))

3

In [6]:
#iteration
for i in l1:
  print(i)

hello
GUVI
GEEK

In [7]:
# 2.1. Create your own lists to perform the below Python List Built-in functions?
# otherwise use the
#                    List1 = [15, 300, 2700, 821]
#                    List2 = [12, 2]
#                    List3 = [34, 567, 78]
#    A.  max(list)
#    B.  min(list)
#    C.  list(seq)

In [8]:
#Max
l2 = [15, 300, 2700, 821]
l3 = [12, 2]
l4 = [34, 567, 78]
print(max(l2))
print(max(l3))
print(max(l4))

2700
12
567

In [9]:
#Min
print(min(l2))
print(min(l3))
print(min(l4))

15
2
34

In [10]:
#seq
a = (23,2,33,43,54,435)
list(a)

[23, 2, 33, 43, 54, 435]

In [11]:
#3.Create your own lists to perform the below Python List built-in methods
  #  A.  list.append()
  #  B.  list.clear()
  #  C.  List.copy()
  #  D.  list.count()
  #  E.  list.extend()
  #  F.  list.index()
  #  G.  list.insert()
  #  H.  list.pop()
  #  I.  list.remove()
  #  J.  list.reverse()
  #  K.  list.sort()

In [12]:
#A.  list.append()
a1=7
l2.append(a1)
l2

[15, 300, 2700, 821, 7]

In [13]:
#Clear
l2.clear()
l2

[]

In [14]:
#Copy
l3.copy()
l3

[12, 2]

In [15]:
#count
l3.count(2)

1

In [16]:
#E.  list.extend()
print(l3.extend(l2))

None

In [17]:
#F.  list.index()
l3.index(2)

1

In [18]:
#G.  list.insert()
l3.insert(0,6)
print(l3)

[6, 12, 2]

In [19]:
#H.  list.pop()
l3.pop()
print(l3)

[6, 12]

In [20]:
#I.  list.remove()
l3.remove(6)
print(l3)

[12]

In [26]:
#J.  list.reverse()
l1.reverse()
print(l1)

['GEEK', 'GUVI', 'hello']

In [28]:
#K.  list.sort()
l4.sort()
print(l4)

[34, 78, 567]

In [18]:
# Python Tuple
# Create your own Tuple to perform the below Python tuple Operations ?
# otherwise use the below
#                Tuple1 = ('a','b','c','d')
#                Tuple2 = ('e','f','g','h')
# 1. Tuple Operations
#    A. Repetition (*)
#    B. Concatenation (+)
#    C. Membership
#    D. Length
#    E. Iteration

In [29]:
#A. Repetition (*)
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')
print(Tuple1*2)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [30]:
#B. Concatenation (+)
print(Tuple1 + Tuple2)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [33]:
#C. Membership
print('a' in Tuple1)

True

In [34]:
#D. Length
print(len(Tuple1))

4

In [35]:
#E. Iteration
for i in Tuple1:
  print(i)

a
b
c
d

In [ ]:
# 2.Create your own Tuple to perform the below Python tuple inbuilt functions ?
# otherwise use the below
#            Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
#         A. max(Tuple)
#         B. min(Tuple)
#         C. Tuple(seq)

In [36]:
# A. max(Tuple)
Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
print(max(Tuple1))

8765

In [37]:
# B. min(Tuple)
print(min(Tuple1))

1

In [38]:
# C. Tuple(seq)
L = [21,5889,52,4,5,1587,455,5,54]
print(tuple(L))

(21, 5889, 52, 4, 5, 1587, 455, 5, 54)

In [ ]:
# # Python Set
# Create your own Set to operate the below Python Set Operations ?
# otherwise use the below set:
#        Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
#        Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
# 1. Set Operations
#     A. Union
#     B. Intersection
#     C. Difference
#     D. Symmetric difference

In [39]:
# A. Union
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print(Set1|Set2)

{1, 2, 3, 4, 5, 6, 7, 8, 876, 77, 432, 54, 567}

In [40]:
# B. Intersection
print(Set1&Set2)

{3, 4, 5, 6, 7}

In [41]:
#C. Difference
print(Set1-Set2)

{1, 2, 8, 876, 77}

In [42]:
# D. Symmetric difference
print(Set1^Set2)

{1, 2, 8, 876, 77, 432, 54, 567}

In [ ]:
# Python Dictionary
# Create your own Dictionary to perform the below Python Built-in Dictionary functions
# otherwise use the below Dictionary:
#                            dict = {'Name': 'Student', 'Age': 27};
#    A.  len(dict)
#    B.  str(dict)
#    C.  type(variable)

In [45]:
from IPython.core.formatters import Dict
# A.  len(dict)
dict = {'Name': 'Student', 'Age': 27};
print(len(dict))

2

In [46]:
# B.  str(dict)
print(str(dict))

{'Name': 'Student', 'Age': 27}

In [47]:
# C.  type(variable)
print(type(dict))

<class 'dict'>

In [ ]:
# 2.Create your own Dictionary to perform the below Python Built-in Dictionary methods
# otherwise use the below Dictionary: â€‹
#                            dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
#    A.  dic.clear()
#    B.  dict.copy()
#    C.  dict.fromkeys()
#    D.  dict.get(key[, value])
#    E.  dict.items()
#    F.  dict.keys()
#    G.  dict.setdefault()
#    H.  dict.update()
#    I.  dict.values()

In [48]:
# A.  dic.clear()
dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dictionaries.clear()
print(dictionaries)

{}

In [49]:
# B.  dict.copy()
d= {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
d1=d.copy()
print(d1)

{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}

In [52]:
# C.  dict.fromkeys()
print(d.fromkeys("Python"))

{'P': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [57]:
# D.  dict.get(key[, value])
print(d.get(3))

Python

In [58]:
# E.  dict.items()
print(d.items())

dict_items([(0, ' Data'), (1, 'GUVI'), (2, 'GEEK'), (3, 'Python'), (4, 'Happy')])

In [59]:
# F.  dict.keys()
print(d.keys())

dict_keys([0, 1, 2, 3, 4])

In [61]:
# G.  dict.setdefault()
print(d.setdefault(2))

GEEK

In [68]:
# H.  dict.update()
d.update({5:"Sad"})
print(d)

{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy', 5: 'Sad'}

In [69]:
# I.  dict.values()
print(d.values())

dict_values([' Data', 'GUVI', 'GEEK', 'Python', 'Happy', 'Sad'])

In [ ]:
# # Conditional Statements
#    1. IF
#    2. IF-ELSE
#    3. If...Elif...Else

In [70]:
# 1. Write if statement 13 is greater than 25?
a=13
b=25
if(a>b):
  print("%d is greater than %d" %(a,b))
else:
  print("%d is greater than %d" %(b,a))

25 is greater than 13

In [72]:
# 2.  Write a if else  statement to find if the number is divisible by 25?
c=int(input())
if(c%25==0):
  print("%d is divisible by 25" %c)
else:
  print("%d isn't divisible by 25" %c)

100
100 is divisible by 25

In [74]:
# 3.Using the three variables 'a = 154; b = 2451; c = 6054',
# Write a If...Elif...Else statement to find the greatest number
a=154
b=2451
c=6054
if(a>b and a>c):
  print("%d is greatest number" %a)
elif(b>a and b>c):
  print("%d is greatest number" %b)
else:
  print("%d is greatest number" %c)

6054 is greatest number