IF Statement

Problems:

  1. Write a program to check whether x is less than y
  where, x = 20 and y = 30
  Assigning x equal to 20 Assigning y equal to 30 If condition x is less then y then go to step 4 print x is less then y

In [ ]:
x=20
y=30
if(x<y):
  print("x is less then y")

x is less then y

  2. Write a program to check whether the total score (theory --> 100 + practical --> 100) is less than or equal to 200.
  If it goes beyond 200, print an error or a warning message.

  Hint:
  Set, Theory equal to 140 Practical equal to 145 If condition for theory + practical is greater than 200 then, print invalid score

In [ ]:
theory = int(input())
practical = int(input())
if(theory +practical >= 200 ):
  print("Invalid score")

140
145
Invalid score

**If-else Statement**

  3. Write a python program to to check whether the student has passed the subject based on string input yes/no

  Hint:

  Get an user input 'yes' / 'no' pass this to variable named 'Subject' Create a If condition, when the Subject value is 'yes' then print 'Cleared the test', Else print 'Failed the test'

In [ ]:
subj = input()
if(subj =='yes'):
  print("Cleared the test")
else:
  print("Failed the test")

yes
Cleared the test

  4. Write a program to get the password from user, check whether the password is 'great'. Through a reply to the user accordingly.

  Hint:

  Get password from user, the input statement should be 'Enter the password: ' pass this to variable named 'Password' If passwrod is 'great', print 'Password Accepted' else print 'Wrong Password'

In [ ]:
Password = input("Enter the password: ")
if(Password == 'great'):
  print("Password Accepted")
else:
  print("Wrong Password")

Enter the password: great
Password Accepted

**Nested if Statement**

  1. Based on the users age, divide them in to three groups Group 1 : Age <=18 , Minors who are not eligible to work Group 2 : 18<Age<60 , ELigible to work Group 3 : >=60, Too old to work as per govt. regulations.
  Write a program for the same
  
  Hint:
  
  Create variable Name age equal to input if condition for age is < 18 go to step 3 , else go to step 5 print Your Minor not Eligible to Work if condition for age >= 18 and age <= 60 go to step 5 , else go to step 6 print Your Eligible to Work fill in your details and apply print Your too old to work as per the Government rules Please Collect your pension

In [ ]:
age = int(input())
if(age>=18):
  if(age>=18 and age<=60):
    print("Your Eligible to Work fill in your details")
  else:
    print("Your too old to work as per the Government rules Please Collect your pension")
else:
  print("Your Minor not Eligible")

25
Your Eligible to Work fill in your details

**While Loop**

  1. Take an integer as input from the user and print all the numbers from 0 to that number in reverse order.
  Example : if the input is 3, the output should be 3 2 1

  Hint:

  Create variable n using input value give the while loop condition i.e. n > 0 then decrement, n = n-1 print n

In [ ]:
n=int(input())
while(n>0):
  print(n)
  n-=1

10
10
9
8
7
6
5
4
3
2
1

  2. Write a python code to find the squares of all the numbers based on an input.
  
  Example : If the input is 10, the output should be 11 ,22 ,33...... 1010
  
  Hint:
  
  Create the variable i assigning to 1 Give the while loop condition for i <= 10 print i ** 2 increment i loop will execute until i is less than or equal to 10

In [ ]:
i=int(input())
while i<=10:
  print(i**2)
  i+=1

10
100

**For Loop**

  1. Write a pseudocode to print the multiplication table of a given number.

  Example : if the user input is 3, the output should be like below :
  3 X 1 = 3 3 X 2 = 6 ... 3 X 10 =30

  Hint:

  Get user input and store it in variable n. Give the For loop condition in the range between (1,11) In print statement give the condition (n,'x',i,'=' ,n*i) This will print the multiplication tables of a given number.

In [ ]:
n=int(input())
for i in range(1,11):
  print(n,'x',i,'=',n*i)

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

  2. Write a python code to print squares of all numbers present in the list = [1, 22, 14, 64, 31, 120]

  Hint:

  Create a list named 'numbers' [1, 22, 14, 64, 31, 120] Create a variable name 'square' and assign 0 to it For loop condition for i in the list square equal to i * i Print square

In [ ]:
numbers = [1, 22, 14, 64, 31, 120]
square = 0
for i in numbers:
  square = i*i
  print(square)

1
484
196
4096
961
14400

**Additional Practice Programs**
  1. Write a python program that takes a list ['red','black','blue'] and prints each element in the list using whle loop

In [ ]:
l=['red','black','blue']
i=0
while i<len(l):
  print(l[i])
  i=i+1

red
black
blue

  2. Write a same program as above using a For loop?

In [ ]:
for i in l:
  print(i)

red
black
blue

  3. Write a Python Program to find the LCM of two numbers?

In [24]:
n1 = int(input("N1: "))
n2 = int(input("N2: "))
if n1>n2:
  h=n1
else:
  h=n2
while(True):
  if h % n1 ==0 and h % n2 ==0:
    lcm=h
    break
  h+=1
print(lcm)

N1: 8
N2: 12
24

  4. Python Program to find the sum of series: 1 + 1/2 + 1/3 + â€¦.. + 1/N.

In [ ]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

10
55

**List Comprehensions**
1. i) Write a Python program to get the squares of numbers present in the range of (1-10)

  output squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
for i in range(0,11):
  print(i*i)

0
1
4
9
16
25
36
49
64
81
100

  ii. For the same question get the desired output using List Comprehension

In [ ]:
List = [i*i for i in range(0,11)]
print(List)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

  2. Convert a list of integers to a list of strings, using List comprehension

In [ ]:
lis = [1,2,3,4,5,6,7]
b=str(lis)
print(b, type(b[0]))

[1, 2, 3, 4, 5, 6, 7] <class 'str'>

  3. Create tuples from two lists using List Comprehensions

  Hint: list1 =[0,1] list2 =['zero','one']
  Output: [(0, 'zero'), (0, 'one'), (1, 'zero'), (1, 'one')]

In [ ]:
l1=[[0,1],['one','two']]
l2=tuple(l1)
print(l2)

([0, 1], ['one', 'two'])